h1{
    color:rgb(0, 0, 255);
}


.header{
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
    
}

p{
    text-align:center;
}

h2{
    text-align:center;
}